# filenames to ignore
*.pdf
*.spec
# python files
*.pyc
*.bmp
*.jpg
*.pickle
config.py
bewertung.txt
konkretere Notizen.txt
# advertising files
*.docx
*.pptx
# paths to ignore
Huje 8xV2340;E842/
databases/
temp/
dist/
build/
venv/

